
  
<!-- <button mat-raised-button color="primary" routerLink="/home"> Back to search</button>   -->


  <div style="height: 50%">
  <agm-map 
  [latitude]="lat" 
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]=false
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

    <agm-marker (Click)="markerClicked($event)"
      *ngFor="let m of api_data;let i=index"
     
      [latitude]="m.lt"
      [longitude]="m.lng"
      
      >
      
      <agm-info-window>
        <strong>{{m.venue_name}}</strong><br/>
        
      </agm-info-window> 
    </agm-marker>
    
</agm-map>
  </div>

  
  <div *ngIf="visible">

      <div *ngFor="let d of api_data;let j=index">
          <div style="width: 100%; display: table;">
            <div style="display: table-row">
              <div style="width: 450px; display: table-cell;">
                <mat-card class="example-card" >
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title><h2>{{d.venue_name}}</h2></mat-card-title>
                
                  </mat-card-header>
                <img mat-card-image src="https://cdn.wedding-spot.com/images/venues/9247/101-Steak-Wedding-Atlanta-GA-3_main.1480707976.jpg" alt="venue_pic">
                <mat-card-content>
                  <p><strong>
                    {{d.venue_meta.venue_street}}<br>
                    {{d.venue_meta.venue_city}}<br>
                    {{d.venue_meta.venue_state}}<br>
                    {{d.zip}}</strong>
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>{{d.venue_meta.venue_website}}</button>
               
                </mat-card-actions>
                </mat-card>
              </div>
              <div style="display: table-cell;"> 
                  <mat-tab-group class="demo-tab-group">
                      <mat-tab label="Event Booking">
                          <div class="demo-tab-content">
                              <mat-card class="example-card" >
                                  <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <mat-card-title><h2>{{d.company.agent}}</h2></mat-card-title>
                                
                                  </mat-card-header>
                                <mat-card-content>
                                  <p><strong>

                                    <a href={{d.company.calendar_link}}>calendar_link</a><br>
                                    <a href={{d.company.wiki_link}}>Wiki_Link</a><br />
                                    {{d.company.company_email}}<br>
                                    {{d.company.company_phone}}<br>
                                  </strong>                                    
                                  </p>
                                </mat-card-content>
                                </mat-card>
                            
                          </div>
                      </mat-tab>
                      <mat-tab label="Onboarding">
                          <div class="demo-tab-content">
                              <mat-card class="example-card" >
                                  <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <mat-card-title><h2>{{d.status}}/{{d.service_type}}</h2></mat-card-title>
                                
                                  </mat-card-header>
                                <mat-card-content>
                                  <p><strong>

                                    <a href={{d.onboarding.evp_builder}}>Event Builder</a><br>
                                    <a href={{d.onboarding.proposal_template_link}}>Proposal Template</a><br />
                                    <p>Web Access: {{d.onboarding.web_access}}</p><br>
                                    <a routerLink="/edit"  [queryParams]="{venue_id: d._id}">Edit the Venue Details</a>
                                   
                                  </strong>                                    
                                  </p>
                                </mat-card-content>
                                </mat-card>
                            
                          </div>
                      </mat-tab>
                      <mat-tab label="Sales">
                        
                        
                          <p>Find Prospective Clients Around this Area</p>
                            
                          


                      </mat-tab>
                      <mat-tab label="Accounting">

                          <div class="demo-tab-content">
                              <mat-card class="example-card" >
                                  <mat-card-header>
                                    <div mat-card-avatar class="example-header-image"></div>
                                    <mat-card-title><h2>Account Connected</h2></mat-card-title>
                                
                                  </mat-card-header>
                                <mat-card-content>
                                  <p><strong>

                                    <a href={{d.accounts.stripe_account}}>Conected Stripe Account</a><br>
                                   
                                  </strong>                                    
                                  </p>
                                </mat-card-content>
                                </mat-card>
                            
                          </div>

                      </mat-tab>
                    </mat-tab-group>
           
              </div>
              
            </div>
          </div>
      
      
      
      </div>
      </div>