
  
<button mat-raised-button color="primary" routerLink="/home"> Back to search</button>  

<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile *ngIf="visible">1</mat-grid-tile>
    
  </mat-grid-list>


  <div>
  <agm-map 
  [latitude]="lat" 
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]=false
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

    <agm-marker (Click)="markerClicked($event)"
      *ngFor="let m of api_data;let i=index"
     
      [latitude]="m.lat"
      [longitude]="m.lng"
      
      >
      
      <agm-info-window>
        <strong>{{m.venue_name}}</strong><br/>
        
      </agm-info-window> 
    </agm-marker>
    
</agm-map>
  </div>

  