<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card class="container">
      <mat-card-header>
        <mat-card-title>
          <span color="primary" class="titlePosition">Sign In</span>
          <p *ngIf="error">{{error}}</p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-input-container class="full-width">
          <input matInput type="text" name="username" [(ngModel)]="username" id="loginEmail" placeholder="Email" formControlName="email">
          <mat-error>Can't be null!</mat-error>
        </mat-input-container>
        <mat-input-container class="full-width">
          <input matInput type="password" name="password" [(ngModel)]="password" id="loginPassword" placeholder="Password"
          formControlName="password">
          <mat-error>Password should be longer than 8!</mat-error>
        </mat-input-container>
        <button mat-raised-button type="submit" class="bottonPosition" color="primary" 
        [disabled]="!form.valid" id="loginButton">Log In</button>
      </mat-card-content>
      <mat-card-actions class="text-right">
        <p><a [routerLink]="['/signup']" style="text-decoration: none">Create New Account</a>
        </p>
        <a href="" style="text-decoration: none">Forgot Password</a>
      </mat-card-actions>
    </mat-card>
  </form>
</div>